runno-run {
    background-color: black;
    border: solid;
    border-color: #383838;
    --runno-terminal-height: 150px;
    --runno-terminal-min-height: 150px;
    --runno-editor-height: 40vh;
    --runno-editor-max-height: 40vh;
}

code {
    color: rgba(255, 193, 5, 1.0);
}

body {
    background-color: #121212;
    position: relative;
    margin: 0px;
}

.body {
    max-width: 56rem;
    margin: auto;
}

@media (max-width: 56rem) {
    .body {
      max-width: 90vw;
    }
  }

* {
    color: rgba(255, 255, 255, 1.0);
    font-family: Helvetica, sans-serif;
}

h2 {
    color: rgba(255, 255, 255, 0.9);
}

h3 {
    color: rgba(255, 255, 255, 0.8);
}

p, i, li {
    color: rgba(255, 255, 255, 0.7);
}

.button {
    background-color: #343434; /* 16dp elevation */
    border: none;
    color: rgba(255,255,255,.9);
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem 0.25rem;
    transition: 0.3s;
}

.button:hover {
    cursor: pointer;
    background-color: #383838; /* 24dp elevation */
}

.collapsible {
    background-color: #2e2e2e; /* 12dp elevation */
    color: rgba(255,255,255,.9);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
    transition: border-radius 0.2s ease-out;
}
  
.active, .collapsible:hover {
    background-color: #343434; /* 16dp elevation */
}

.active.collapsible {
    border-radius: 15px 15px 0px 0px;
}
  
.collapsible:after {
    content: '\002B';
    color: rgba(255,255,255,.9);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
}
  
.collapsible_content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out 0.2s, border-radius 0.2s ease-out;
    border-radius: 0px 0px 15px 15px;
    background-color: #383838; /* 24dp elevation */
}

code.block {
    background-color: #424242;
    color: rgba(255,255,255,.9);
    border: 1px solid #000;
    display: block;
    white-space: pre-wrap;
    padding: 5px;
    margin: 10px;
}

code.block b {
    color: rgba(255,255,255,.9);
}

/* Solid border */
hr.solid {
    border-color: #343434;
    border-top: 3px solid #343434; /* 16dp elevation */
    border-radius: 3px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #343434;
    color: white;
    text-align: center;
}